body {
    background-color: #e8e8e8;
    padding-top: 50px;
}

.content {

    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.list {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 36px;
    font-size: 20px;
    padding-bottom: 150px;


}
.list li::before {
    content: url(../img/check-icon1.png);
    padding-right: 10px;
}
.list li:hover::before {
    content: url(../img/check-icon.png);

}
.list li:nth-child(1) {
    text-decoration: line-through;
}
.list li:nth-child(2) {
    font-weight: bold;
}
.list li:nth-child(3) {
    font-style: italic;    
}
.list li:nth-child(4) {
    text-transform: uppercase;
}
.btn {
    width: 200px;
    height: 44px;
    background-color: rgba(128, 183, 179, 0.54);
    border-radius: 22px;
    box-shadow: 0 5px 5px #000;
    margin-bottom: 50px;

}

a {
    display: inline-block;
    line-height: 40px;
    padding-top: 2px;
    padding-left: 30px;
    letter-spacing: 2.8px;
    color: white;
}
a::after {
    content: url(../img/shape_2_9.png);
    padding-left: 10px;

}
.btn:hover {
    background-color: #3a5856;
}
.btn:active {
    background-color: #818181;
    margin-top: 3px;
    margin-bottom: 47px;
    box-shadow: 0 2px 5px #000;
}
.int input{
    width: 292px;
    height: 50px;
    line-height: 44;
    font-size: 36px;
}
.int input:focus {
    box-shadow: 0 0 20px 0 #7fbed5ee;
}



