body {
  background: url(../img/ellipse_1_copy_4.png) 60px 135px no-repeat  #e8e8e8;
}
.content {
  
  min-width: 300px;
  width: 841px;
  margin-left: auto;
  margin-right: auto;
}
.head {
  margin-bottom: 60px;
}
.head h2 {
    margin-top: 178px;
    margin-bottom: 13px;
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.86;
    letter-spacing: 2.8px;
    text-align: center;
    color: rgba(39, 61, 70, 0.6);
      }
.head h1 {
    font-size: 36px;
    line-height: 1.39;
    text-align: center;
    color: #273d46;
      }
.img {
  background-color: white;
  width: 841px;
  height: 561px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 15px 65px 0 rgba(15, 16, 16, 0.15);
  margin-bottom: 80px;
}
img {
  width: 821px;
  height: 541px;
  margin: 10px;
}
.text {
  width: 736px;
  padding-left: 45px;
  opacity: 0.8;
  font-family: TimesNewRomanPSMT;
  font-size: 24px;
  line-height: 1.67;
  text-align: left;
  color: rgba(39, 61, 70, 0.8);
  }
.text p {
  padding-bottom: 40px;
}

.list {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 36px;
  padding-left: 45px;
  color: #273d46;
  padding-bottom: 46px;
}
.list li {
  background: url(../img/check_icon_37.png) 0 7px  no-repeat;
  padding-left: 35px;
}

.list :nth-child(2) {
  color: #80b7b3;
  font-style: italic;
}
.list :nth-child(3) {
  font-weight: 700px;

}
.list :nth-child(4) span {
    opacity: 0.3;
  text-decoration: line-through;

}

a {
  display: inline-block;

  width: 199px;
  height: 44px;
  background:url(../img/shape_2_9.png) 150px 17px  no-repeat   #80b7b38a;
  padding: 17px 0px 17px 30px;
  border-radius: 22px;
  margin-bottom: 137px;

  letter-spacing: 2.8px;
  padding-right: 30px;
  color: #ffffff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  box-shadow: 0 5px 3px #000;


}


a:hover {
  background-color: red;
}

a:active {
  margin-top: 3px;
  box-shadow: 0 2px 3px #000;

}