@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 0%;
  --webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Lato", sans-serif;
  min-height: 100%;
}

.main-creen {
  height: 100%;
}

.main-bg {
  height: 100%;
  background: url(../img/bg/bg_2.png) center/cover no-repeat;
}

.new-bike {
  background-color: #f7f7f7;
  padding: 70px 0 70px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.block {
  text-align: center;
}
.block__icon {
  padding-bottom: 34px;
}
.block__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  padding-bottom: 34px;
}
.block__text {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}

.oliva {
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
}
.oliva__bgb {
  position: relative;
  grid-column: 1/3;
  grid-row: 1/4;
  background: url(../img/bg/rectangle_1_54.png) center/cover no-repeat;
}
.oliva__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.oliva__block {
  padding: 70px 70px 100px;
  grid-column: 3/4;
  grid-row: 1/3;
}
.oliva__block:last-child {
  display: block;
  height: 1px;
  width: 50px;
  display: block;
  background-color: rgba(53, 55, 56, 0.2);
}
.oliva__bgs {
  grid-column: 3/4;
  grid-row: 3/4;
  background: url(../img/bg/rectangle_1_copy_2_56.png) center/cover no-repeat;
  position: relative;
}
.oliva__bgs::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #fff;
}
}
.block > div {
  margin-bottom: 30px;
}
.block > div:last-child {
  margin-bottom: 0;
}
.block__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}
.block__text {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #848789;
}

.boriosa {
  min-height: 600px;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}
.boriosa__image-big {
  grid-column: 2/4;
  grid-row: 1/4;
  background: url(../img/rectangle_1_copy_5_61.png) center/cover no-repeat;
}
.boriosa__image-big img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.boriosa__block {
  grid-column: 1/2;
  grid-row: 1/3;
}
.boriosa__image {
  background: url(../img/rectangle_1_copy_3_59.png) center/cover no-repeat;
  position: relative;
}
.boriosa__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.hulot {
  min-height: 600px;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}
.hulot__image-right {
  grid-area: 1/3/4/4;
  background: url(../img/rectangle_1_copy_6_64.png) center/cover no-repeat;
}
.hulot__image-left {
  grid-area: 1/1/4/2;
  background: url(../img/rectangle_1_copy_6_63.png) center/cover no-repeat;
}
.hulot__image-left img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hulot__block {
  grid-area: 1/2/3/3;
}
.hulot__image {
  background: url(../img/rectangle_1_copy_6_65.png) center/cover no-repeat;
  position: relative;
}
.hulot__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.product {
  min-height: 600px;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(6, 1fr);
}
.product__item1 {
  background: url(../img/rectangle_3_118.png) center/cover no-repeat;
}
.product__item2 {
  background: url(../img/rectangle_3_copy_137.png) center/cover no-repeat;
}
.product__item3 {
  grid-area: 2/1/3/3;
  background: url(../img/rectangle_3_copy_3_139.png) left/cover no-repeat;
}
.product__item4 {
  grid-area: 1/3/3/4;
  background: url(../img/rectangle_1_copy_8_140.png) center/cover no-repeat;
}
.product__item5 {
  grid-area: 1/4/3/5;
  background: url(../img/rectangle_1_copy_7_136.png) center/cover no-repeat;
}
.product__item6 {
  grid-area: 1/5/2/7;
  background-color: #5ba68c;
  background-image: url(../img/rectangle_3_copy_4_141.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
.product .item {
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product .item img {
  margin-bottom: 15px;
}
.product .item h1 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-align: center;
}
.product__item7 {
  background: url(../img/rectangle_3_copy_6_143.png) center/cover no-repeat;
}
.product__item8 {
  background: url(../img/rectangle_3_copy_7_144.png) center/cover no-repeat;
}